<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
  <behaviors>
    <serviceBehaviors>
      <behavior name="GradeConverterServiceBehavior">
        <serviceMetadata httpGetEnabled="true"/>
        <serviceDebug includeExceptionDetailInFaults="True"/>
      </behavior>
    </serviceBehaviors>
    <endpointBehaviors>
      <behavior>
      </behavior>
    </endpointBehaviors>
  </behaviors>
    <services>
      <service name="GradeConverterImplementation">
        <endpoint address="GradeConverterImplementation"
                  binding="basicHttpBinding"
                  contract="Samples.GradeConverterService.IGradeConverter">
          
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
