<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
  <behaviors>
    <serviceBehaviors>
      <behavior name="GradeConverterServiceBehavior">
        <serviceMetadata httpGetEnabled="true">
        <serviceDebug includeExceptionDetailInFaults="True"/>
      </behavior>
    </serviceBehaviors>
    <endpointBehaviors>
      <endpointBehavior name="GradeConverterEndpointBehavior">
        <webHttp/>
      </endpointBehavior>
    </endpointBehaviors>
  </behaviors>
    <services>
      <service name="GradeConverterImplementation">
        <endpoint address="GradeConverterImplementation"
                  binding="basicHttpBinding"
                  contract="Examples.WCFGradeConverter.Service.IGradeConverter">
          
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
